.aboutus-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.aboutus-thq-aboutus-elm {
  gap: 11px;
  width: 1440px;
  height: 5675px;
  display: flex;
  z-index: 1;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.aboutus-thq-header-elm {
  gap: 24px;
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 103px;
  display: flex;
  padding: 32px 48px;
  overflow: hidden;
  position: absolute;
  flex-wrap: wrap;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: rgba(255, 255, 255, 1);
}
 
.aboutus-thq-block-elm {
  gap: 24px;
  display: flex;
  padding: 0 21px;
  align-items: center;
}
 
.aboutus-thq-figma-elm1 {
  width: 40px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.aboutus-thq-logo-elm1 {
  width: 84px;
  height: 39px;
}
 
.aboutus-thq-navigation-pill-list-elm {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
 
.aboutus-thq-navigation-pill-elm1 {
  gap: 8px;
  display: flex;
  padding: 8px;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}
 
.aboutus-thq-text-elm10 {
  color: rgba(30, 30, 30, 1);
  height: auto;
  text-align: left;
  line-height: 100%;
}
 
.aboutus-thq-navigation-pill-elm2 {
  gap: 8px;
  display: flex;
  padding: 8px;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(245, 245, 245, 1);
}
 
.aboutus-thq-text-elm11 {
  color: rgba(30, 30, 30, 1);
  height: auto;
  text-align: left;
  line-height: 100%;
}
 
.aboutus-thq-header-auth-elm {
  gap: 12px;
  width: 178px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
 
.aboutus-thq-button-elm1 {
  gap: 8px;
  display: flex;
  padding: 8px;
  overflow: hidden;
  flex-grow: 1;
  align-items: center;
  border-color: rgba(118, 118, 118, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(227, 227, 227, 1);
}
 
.aboutus-thq-text-elm12 {
  color: rgba(30, 30, 30, 1);
  height: auto;
  text-align: left;
  line-height: 100%;
}
 
.aboutus-thq-button-elm2 {
  gap: 8px;
  display: flex;
  padding: 8px;
  overflow: hidden;
  flex-grow: 1;
  align-items: center;
  border-color: rgba(44, 44, 44, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(44, 44, 44, 1);
}
 
.aboutus-thq-text-elm13 {
  color: rgba(245, 245, 245, 1);
  height: auto;
  text-align: left;
  line-height: 100%;
}
 
.aboutus-thq-group2-elm {
  width: 93px;
  height: 37px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.aboutus-thq-button-elm3 {
  gap: 8px;
  top: 5px;
  left: 10px;
  width: 83px;
  display: flex;
  padding: 8px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(118, 118, 118, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(227, 227, 227, 1);
}
 
.aboutus-thq-text-elm14 {
  color: rgba(30, 30, 30, 1);
  height: auto;
  text-align: right;
  line-height: 100%;
}
 
.aboutus-thq-ellipse1-elm {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
}
 
.aboutus-thq-main-elm {
  top: 114px;
  left: 80px;
  width: 1280px;
  height: 5296px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.aboutus-thq-section-brand-story-elm {
  top: 2718.090087890625px;
  left: 0px;
  width: 1280px;
  display: flex;
  padding: 128px 32px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.aboutus-thq-container-elm10 {
  gap: 96px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.aboutus-thq-text-content-elm {
  gap: 32px;
  width: 560px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.aboutus-thq-heading2-elm1 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.aboutus-thq-text-elm15 {
  color: rgba(26, 26, 26, 1);
  height: auto;
  font-size: 48px;
  align-self: stretch;
  font-style: italic;
  text-align: left;
  font-family: Playfair Display;
  font-weight: 400;
  line-height: 48px;
  font-stretch: normal;
  text-decoration: none;
}
 
.aboutus-thq-container-elm11 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.aboutus-thq-container-elm12 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.aboutus-thq-text-elm16 {
  color: rgba(55, 65, 81, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 29.25px;
  font-stretch: normal;
  text-decoration: none;
}
 
.aboutus-thq-container-elm13 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.aboutus-thq-text-elm20 {
  color: rgba(55, 65, 81, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 29.25px;
  font-stretch: normal;
  text-decoration: none;
}
 
.aboutus-thq-container-elm14 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.aboutus-thq-text-elm25 {
  color: rgba(55, 65, 81, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 29.25px;
  font-stretch: normal;
  text-decoration: none;
}
 
.aboutus-thq-image-content-elm {
  width: 560px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(244, 241, 234, 1);
}
 
.aboutus-thq-folkeminimalistclothing-elm {
  width: 560px;
  height: 700px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  background-size: cover;
  background-image: url("public/tq_0dtupsiihk-3xcc-600w.png");
}
 
.aboutus-thq-section-our-values-elm {
  top: 3674.090087890625px;
  left: 0px;
  width: 1280px;
  display: flex;
  padding: 128px 0;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(244, 241, 234, 1);
}
 
.aboutus-thq-container-elm15 {
  gap: 64px;
  display: flex;
  padding: 0 32px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.aboutus-thq-container-elm16 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.aboutus-thq-heading2-elm2 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.aboutus-thq-text-elm29 {
  color: rgba(26, 26, 26, 1);
  width: 251px;
  height: auto;
  font-size: 36px;
  font-style: italic;
  text-align: center;
  font-family: Playfair Display;
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
 
.aboutus-thq-horizontal-divider-elm {
  width: 96px;
  height: 1px;
}
 
.aboutus-thq-container-elm17 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
 
.aboutus-thq-simplicity-elm {
  width: 384px;
  height: 272px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
 
.aboutus-thq-container-elm18 {
  top: 40px;
  left: 40px;
  width: 304px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
 
.aboutus-thq-border-elm1 {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(77, 42, 8, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
}
 
.aboutus-thq-container-elm19 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.aboutus-thq-heading3-elm1 {
  top: 112px;
  left: 40px;
  width: 304px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.aboutus-thq-text-elm30 {
  color: rgba(26, 26, 26, 1);
  width: 104px;
  height: auto;
  font-size: 24px;
  font-style: italic;
  text-align: center;
  font-family: Playfair Display;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
 
.aboutus-thq-container-elm20 {
  top: 160px;
  left: 40px;
  width: 304px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.aboutus-thq-text-elm31 {
  color: rgba(75, 85, 99, 1);
  width: 281px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.aboutus-thq-quality-elm {
  width: 384px;
  height: 272px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
 
.aboutus-thq-container-elm21 {
  top: 40px;
  left: 40px;
  width: 304px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
 
.aboutus-thq-border-elm2 {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(77, 42, 8, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
}
 
.aboutus-thq-container-elm22 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.aboutus-thq-heading3-elm2 {
  top: 112px;
  left: 40px;
  width: 304px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.aboutus-thq-text-elm35 {
  color: rgba(26, 26, 26, 1);
  width: 78px;
  height: auto;
  font-size: 24px;
  font-style: italic;
  text-align: center;
  font-family: Playfair Display;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
 
.aboutus-thq-container-elm23 {
  top: 160px;
  left: 40px;
  width: 304px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.aboutus-thq-text-elm36 {
  color: rgba(75, 85, 99, 1);
  width: 270px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.aboutus-thq-inclusivity-elm {
  width: 384px;
  height: 272px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
 
.aboutus-thq-container-elm24 {
  top: 40px;
  left: 40px;
  width: 304px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
 
.aboutus-thq-border-elm3 {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(77, 42, 8, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
}
 
.aboutus-thq-container-elm25 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.aboutus-thq-heading3-elm3 {
  top: 112px;
  left: 40px;
  width: 304px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.aboutus-thq-text-elm40 {
  color: rgba(26, 26, 26, 1);
  width: 109px;
  height: auto;
  font-size: 24px;
  font-style: italic;
  text-align: center;
  font-family: Playfair Display;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
 
.aboutus-thq-container-elm26 {
  top: 160px;
  left: 40px;
  width: 304px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.aboutus-thq-text-elm41 {
  color: rgba(75, 85, 99, 1);
  width: 270px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.aboutus-thq-section-sustainability-elm {
  top: 4323.08984375px;
  left: 0px;
  width: 1280px;
  display: flex;
  padding: 128px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(77, 42, 8, 1);
}
 
.aboutus-thq-container-elm27 {
  gap: 48px;
  display: flex;
  padding: 0 32px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.aboutus-thq-heading2-elm3 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.aboutus-thq-text-elm45 {
  color: rgba(244, 241, 234, 1);
  width: 396px;
  height: auto;
  font-size: 48px;
  font-style: italic;
  text-align: center;
  font-family: Playfair Display;
  font-weight: 400;
  line-height: 48px;
  font-stretch: normal;
  text-decoration: none;
}
 
.aboutus-thq-container-elm28 {
  gap: 48px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
 
.aboutus-thq-vertical-border-elm1 {
  gap: 16px;
  display: flex;
  padding: 0 0 0 32px;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(230, 222, 203, 0.30000001192092896);
  border-style: solid;
  border-width: 0 0 0 1px;
  flex-direction: column;
}
 
.aboutus-thq-heading4-elm1 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.aboutus-thq-text-elm46 {
  color: rgba(244, 241, 234, 1);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.aboutus-thq-container-elm29 {
  display: flex;
  opacity: 0.80;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.aboutus-thq-text-elm47 {
  color: rgba(244, 241, 234, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
 
.aboutus-thq-vertical-border-elm2 {
  gap: 16px;
  display: flex;
  padding: 0 0 0 32px;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(230, 222, 203, 0.30000001192092896);
  border-style: solid;
  border-width: 0 0 0 1px;
  flex-direction: column;
}
 
.aboutus-thq-heading4-elm2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.aboutus-thq-text-elm51 {
  color: rgba(244, 241, 234, 1);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.aboutus-thq-container-elm30 {
  display: flex;
  opacity: 0.80;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.aboutus-thq-text-elm52 {
  color: rgba(244, 241, 234, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
 
.aboutus-thq-cta-section-elm {
  top: 4797.08984375px;
  left: 0px;
  width: 1280px;
  display: flex;
  padding: 128px 192px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(230, 222, 203, 1);
}
 
.aboutus-thq-container-elm31 {
  gap: 32px;
  display: flex;
  padding: 0 16px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.aboutus-thq-heading2-elm4 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.aboutus-thq-text-elm56 {
  color: rgba(77, 42, 8, 1);
  width: 369px;
  height: auto;
  font-size: 48px;
  font-style: italic;
  text-align: center;
  font-family: Playfair Display;
  font-weight: 400;
  line-height: 48px;
  font-stretch: normal;
  text-decoration: none;
}
 
.aboutus-thq-container-elm32 {
  width: 576px;
  display: flex;
  opacity: 0.90;
  padding: 0 0 8px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.aboutus-thq-text-elm57 {
  color: rgba(77, 42, 8, 1);
  width: 559px;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.aboutus-thq-link-elm {
  display: flex;
  padding: 16px 48px;
  align-items: flex-start;
  justify-content: center;
  background-color: rgba(77, 42, 8, 1);
}
 
.aboutus-thq-text-elm60 {
  color: rgba(255, 255, 255, 1);
  width: 168px;
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.aboutus-thq-section-hero-about-elm {
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 2718.090087890625px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.aboutus-thq-behindthescenesstudio-elm {
  width: 1280px;
  height: 2718.090087890625px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  background-size: cover;
  background-image: url("public/tq_93i-tsanzm-abj-1300w.png");
}
 
.aboutus-thq-overlay-elm {
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 2718px;
  z-index: 1;
  position: absolute;
}
 
.aboutus-thq-container-elm33 {
  gap: 24px;
  display: flex;
  padding: 0 16px;
  z-index: 2;
  align-items: flex-start;
  flex-direction: column;
}
 
.aboutus-thq-heading1-elm {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.aboutus-thq-text-elm61 {
  color: rgba(255, 255, 255, 1);
  width: 439px;
  height: auto;
  font-size: 80px;
  font-style: italic;
  text-align: center;
  font-family: Playfair Display;
  font-weight: 400;
  line-height: 88px;
  font-stretch: normal;
  text-decoration: none;
}
 
.aboutus-thq-container-elm34 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.aboutus-thq-text-elm62 {
  color: rgba(255, 255, 255, 1);
  width: 657px;
  height: auto;
  font-size: 20px;
  font-style: Light;
  text-align: center;
  font-family: Inter;
  font-weight: 300;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.aboutus-thq-footer-elm {
  gap: 36px;
  top: 5421px;
  left: 24px;
  width: 1392px;
  height: 254px;
  display: flex;
  padding: 40px 40px 160px;
  overflow: hidden;
  position: absolute;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 1px 0 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.aboutus-thq-group1-elm {
  width: 1359px;
  height: 276px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.aboutus-thq-title-elm1 {
  gap: 24px;
  top: 0px;
  left: 0px;
  width: 269.33282470703125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.aboutus-thq-figma-elm2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.aboutus-thq-logo-elm2 {
  width: 208px;
  height: 97px;
}
 
.aboutus-thq-button-list-elm {
  gap: 16px;
  display: flex;
  align-items: center;
}
 
.aboutus-thq-x-logo-elm {
  width: 24px;
  height: 24px;
}
 
.aboutus-thq-logo-instagram-elm {
  width: 24px;
  height: 24px;
}
 
.aboutus-thq-text-link-list-elm {
  gap: 12px;
  top: 0px;
  left: 1220.2216796875px;
  width: 138.7783660888672px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.aboutus-thq-title-elm2 {
  gap: 10px;
  display: flex;
  padding: 0 0 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.aboutus-thq-text-strong-elm {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.aboutus-thq-text-elm65 {
  color: rgba(30, 30, 30, 1);
  height: auto;
  text-align: left;
  line-height: 139.9999976158142%;
}
 
.aboutus-thq-text-link-list-item-elm1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.aboutus-thq-text-elm66 {
  color: rgba(30, 30, 30, 1);
  height: auto;
  text-align: left;
  line-height: 139.9999976158142%;
}
 
.aboutus-thq-text-link-list-item-elm2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.aboutus-thq-text-elm67 {
  color: rgba(30, 30, 30, 1);
  height: auto;
  text-align: left;
  line-height: 139.9999976158142%;
}
 
.aboutus-thq-text-link-list-item-elm3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.aboutus-thq-text-elm68 {
  color: rgba(30, 30, 30, 1);
  height: auto;
  text-align: left;
  line-height: 139.9999976158142%;
}
 
.aboutus-thq-text-link-list-item-elm4 {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.aboutus-thq-text-elm69 {
  color: rgba(30, 30, 30, 1);
  height: auto;
  text-align: left;
  line-height: 139.9999976158142%;
}
 
.aboutus-thq-text-link-list-item-elm5 {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.aboutus-thq-text-elm70 {
  color: rgba(30, 30, 30, 1);
  height: auto;
  text-align: left;
  line-height: 139.9999976158142%;
}
 
.aboutus-thq-text-link-list-item-elm6 {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.aboutus-thq-text-elm71 {
  color: rgba(30, 30, 30, 1);
  height: auto;
  text-align: left;
  line-height: 139.9999976158142%;
}
 
.aboutus-thq-text-link-list-item-elm7 {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.aboutus-thq-text-elm72 {
  color: rgba(30, 30, 30, 1);
  height: auto;
  text-align: left;
  line-height: 139.9999976158142%;
}
 
.aboutus-link {
  display: contents;
}
 
.aboutus-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.aboutus-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.aboutus-text29 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
