:root {
  --dl-color-red-0: rgba(255, 245, 245, 1);
  --dl-color-brown-0: rgba(255, 251, 247, 1);
  --dl-color-green-0: rgba(251, 255, 245, 1);
  --dl-color-red-100: rgba(253, 198, 198, 1);
  --dl-color-red-200: rgba(249, 152, 152, 1);
  --dl-color-red-300: rgba(244, 113, 113, 1);
  --dl-color-red-400: rgba(236, 81, 81, 1);
  --dl-color-red-500: rgba(225, 57, 57, 1);
  --dl-color-red-600: rgba(210, 40, 40, 1);
  --dl-color-red-700: rgba(192, 28, 28, 1);
  --dl-color-red-800: rgba(170, 20, 20, 1);
  --dl-color-red-900: rgba(148, 15, 15, 1);
  --dl-color-brown-100: rgba(252, 224, 194, 1);
  --dl-color-brown-200: rgba(247, 196, 142, 1);
  --dl-color-brown-300: rgba(238, 170, 97, 1);
  --dl-color-brown-400: rgba(226, 147, 62, 1);
  --dl-color-brown-500: rgba(210, 126, 37, 1);
  --dl-color-brown-600: rgba(188, 107, 19, 1);
  --dl-color-brown-700: rgba(161, 87, 8, 1);
--dl-color-brown-800: rgba(130, 68, 2, 1);
  --dl-color-green-200: rgba(210, 249, 152, 1);
  --dl-color-green-300: rgba(190, 242, 112, 1);
  --dl-color-green-400: rgba(172, 233, 80, 1);
  --dl-color-green-500: rgba(155, 221, 56, 1);
  --dl-color-green-600: rgba(138, 205, 39, 1);
  --dl-color-green-700: rgba(121, 184, 27, 1);
  --dl-color-green-800: rgba(103, 160, 19, 1);
  --dl-color-green-900: rgba(86, 135, 14, 1);
  --dl-color-neutral-0: rgba(255, 255, 255, 1);
  --dl-color-neutral-100: rgba(251, 251, 251, 1);
  --dl-color-neutral-200: rgba(243, 243, 243, 1);
  --dl-color-neutral-300: rgba(232, 232, 232, 1);
  --dl-color-neutral-400: rgba(215, 215, 215, 1);
  --dl-color-neutral-500: rgba(192, 192, 192, 1);
  --dl-color-neutral-600: rgba(162, 162, 162, 1);
  --dl-color-neutral-700: rgba(124, 124, 124, 1);
  --dl-color-neutral-800: rgba(79, 79, 79, 1);
  --dl-color-neutral-900: rgba(33, 33, 33, 1);
  --dl-layout-size-large: 144px;
  --dl-layout-size-small: 48px;
  --dl-layout-space-unit: 16px;
  --dl-layout-size-medium: 96px;
  --dl-layout-size-xlarge: 192px;
  --dl-layout-size-xsmall: 16px;
  --dl-color-theme-accent1: #FFFFFF;
  --dl-color-theme-accent2: #F5D1B0;
  --dl-layout-radius-round: 50%;
  --dl-layout-size-xxlarge: 288px;
  --dl-color-theme-primary1: #BF4408;
  --dl-color-theme-primary2: #E65103;
  --dl-layout-size-maxwidth: 1400px;
  --dl-layout-radius-radius2: 2px;
  --dl-layout-radius-radius4: 4px;
  --dl-layout-radius-radius8: 8px;
  --dl-layout-space-halfunit: 8px;
  --dl-layout-space-sixunits: 96px;
  --dl-layout-space-twounits: 32px;
  --dl-color-theme-secondary1: #FFFFFF;
  --dl-color-theme-secondary2: #FBF1EB;
  --dl-layout-space-fiveunits: 80px;
  --dl-layout-space-fourunits: 64px;
  --dl-layout-space-threeunits: 48px;
  --dl-color-theme-neutral-dark: #191818;
  --dl-layout-radius-cardradius: 8px;
  --dl-color-theme-neutral-light: #FBFAF9;
  --dl-layout-radius-imageradius: 8px;
  --dl-layout-radius-inputradius: 24px;
  --dl-layout-radius-buttonradius: 24px;
  --dl-layout-space-oneandhalfunits: 24px;
}
 
.button {
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.input {
  color: var(--dl-color-theme-neutral-dark);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.textarea {
  color: var(--dl-color-theme-neutral-dark);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
 
.list-item {
  display: list-item;
}
 
.teleport-show {
  display: flex !important;
  transform: none !important;
}
 
.thq-input {
  color: var(--dl-color-theme-neutral-dark);
  cursor: auto;
  outline: none;
  padding: 0.5rem 1rem;
  align-self: stretch;
  text-align: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  border-radius: var(--dl-layout-radius-inputradius);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.thq-input:focus {
  outline: 1px solid var(--dl-color-theme-primary1);
}
 
.thq-button-filled {
  gap: var(--dl-layout-space-halfunit);
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  font-weight: bold;
  padding-top: var(--dl-layout-space-halfunit);
  white-space: nowrap;
  border-color: var(--dl-color-theme-primary1);
  border-width: 1px;
  padding-left: var(--dl-layout-space-oneandhalfunits);
  border-radius: var(--dl-layout-radius-buttonradius);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  padding-bottom: var(--dl-layout-space-halfunit);
  justify-content: center;
  background-color: var(--dl-color-theme-primary1);
}
 
.thq-button-filled:hover {
  fill: var(--dl-color-theme-secondary2);
  color: var(--dl-color-theme-secondary2);
  border-color: var(--dl-color-theme-primary2);
  background-color: var(--dl-color-theme-primary2);
}
 
.thq-button-outline {
  gap: var(--dl-layout-space-halfunit);
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
  border: 1px solid;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  font-weight: bold;
  padding-top: var(--dl-layout-space-halfunit);
  white-space: nowrap;
  border-color: var(--dl-color-theme-primary1);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  border-radius: var(--dl-layout-radius-buttonradius);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  padding-bottom: var(--dl-layout-space-halfunit);
  justify-content: center;
}
 
.thq-button-outline:hover {
  fill: var(--dl-color-theme-secondary2);
  color: var(--dl-color-theme-secondary2);
  border-color: var(--dl-color-theme-primary2);
  background-color: var(--dl-color-theme-primary2);
}
 
.thq-button-flat {
  gap: var(--dl-layout-space-halfunit);
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  font-weight: bold;
  padding-top: var(--dl-layout-space-halfunit);
  white-space: nowrap;
  border-color: transparent;
  border-width: 1px;
  padding-left: var(--dl-layout-space-oneandhalfunits);
  border-radius: var(--dl-layout-radius-buttonradius);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  padding-bottom: var(--dl-layout-space-halfunit);
  justify-content: center;
}
 
.thq-button-flat:hover {
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
  border-color: var(--dl-color-theme-primary2);
  background-color: var(--dl-color-theme-primary2);
}
 
.thq-heading-1 {
  font-size: 48px;
  font-family: STIX Two Text;
  font-weight: 700;
  line-height: 1.5;
}
 
.thq-heading-2 {
  font-size: 35px;
  font-family: STIX Two Text;
  font-weight: 600;
  line-height: 1.5;
}
 
.thq-heading-3 {
  font-size: 26px;
  font-family: STIX Two Text;
  font-weight: 600;
  line-height: 1.5;
}
 
.thq-body-large {
  font-size: 18px;
  font-family: Noto Sans;
  line-height: 1.5;
}
 
.thq-body-small {
  font-size: 16px;
  font-family: Noto Sans;
  line-height: 1.5;
}
 
.thq-team-image-round {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}
 
.thq-section-padding {
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-fiveunits);
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.thq-section-max-width {
  width: 100%;
  max-width: var(--dl-layout-size-maxwidth);
}
 
.thq-img-ratio-1-1 {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: var(--dl-layout-radius-imageradius);
}
 
.thq-img-ratio-16-9 {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;
  border-radius: var(--dl-layout-radius-imageradius);
}
 
.thq-img-ratio-4-3 {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 4/3;
  border-radius: var(--dl-layout-radius-imageradius);
}
 
.thq-img-ratio-4-6 {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 4/6;
  border-radius: var(--dl-layout-radius-imageradius);
}
 
.thq-img-round {
  width: 100%;
  border-radius: var(--dl-layout-radius-round);
}
 
.thq-flex-column {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.thq-flex-row {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
}
 
.thq-grid-6 {
  display: grid;
  grid-gap: var(--dl-layout-space-twounits);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
 
.thq-grid-5 {
  display: grid;
  grid-gap: var(--dl-layout-space-twounits);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
 
.thq-card {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  padding: var(--dl-layout-space-twounits);
  align-items: stretch;
  border-radius: var(--dl-layout-radius-cardradius);
  flex-direction: column;
}
 
.thq-box-shadow {
  box-shadow: 0px 0px 5px -2px var(--dl-color-theme-neutral-dark);
}
 
.thq-grid-3 {
  display: grid;
  grid-gap: var(--dl-layout-space-twounits);
  grid-template-columns: 1fr 1fr 1fr;
}
 
.thq-grid-4 {
  display: grid;
  grid-gap: var(--dl-layout-space-twounits);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
 
.thq-grid-2 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-layout-space-twounits);
  grid-template-columns: 1fr 1fr;
}
 
.thq-checkbox {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.thq-select {
  cursor: pointer;
  appearance: none;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-inputradius);
  padding-right: var(--dl-layout-space-twounits);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg width%3D%2220%22 height%3D%2220%22 xmlns%3D%22http%3A//www.w3.org/2000/svg%22 viewBox%3D%220 0 20 20%22 fill%3D%22%23000%22%3E%3Cpath d%3D%22M4.293 7.293a1 1 0 011.414 0L10 11.586l4.293-4.293a1 1 0 111.414 1.414l-5 5a1 1 0 01-1.414 0l-5-5a1 1 0 010-1.414z%22/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: right 8px center;
}
 
.thq-divider-horizontal {
  width: 100%;
  height: 1px;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.thq-icon-small {
  width: 24px;
  height: 24px;
}
 
.thq-button-icon {
  fill: var(--dl-color-theme-secondary1);
  padding: 3px;
  transition: 0.3s;
  border-radius: var(--dl-layout-radius-round);
}
 
.thq-button-icon:hover {
  fill: var(--dl-color-theme-secondary2);
}
 
.thq-icon-medium {
  width: var(--dl-layout-size-small);
  height: var(--dl-layout-size-small);
}
 
.thq-icon-x-small {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.thq-link {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  background: linear-gradient(to right, var(--dl-color-theme-primary1) 50%, var(--dl-color-theme-neutral-dark) 50%);
  transition: background-position 300ms ease;
  font-weight: 600;
  background-clip: text;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-text-fill-color: transparent;
}
 
.thq-link:hover {
  background-position: 0 100%;
}
 
.thq-grid-auto-300 {
  display: grid;
  grid-gap: var(--dl-layout-space-oneandhalfunits);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
 
.thq-animated-group-vertical-reverse {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  animation: scroll-y 20s linear infinite;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
  animation-direction: reverse;
}
 
.thq-animated-group-horizontal-reverse {
  gap: var(--dl-layout-space-unit);
  display: flex;
  animation: scroll-x 20s linear infinite;
  min-width: 100%;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-around;
  animation-direction: reverse;
}
 
.thq-animated-group-vertical {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  animation: scroll-y 20s linear infinite;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
}
 
.thq-animated-group-horizontal {
  gap: var(--dl-layout-space-unit);
  display: flex;
  animation: scroll-x 20s linear infinite;
  min-width: 100%;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-around;
}
 
.thq-animated-group-container-vertical {
  gap: var(--dl-layout-space-unit);
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
 
.thq-animated-group-container-horizontal {
  gap: var(--dl-layout-space-unit);
  display: flex;
  overflow: hidden;
}
 
.thq-mask-image-vertical {
  mask-image: linear-gradient(to bottom, transparent, black 1%, black 99%, transparent);
}
 
.thq-mask-image-horizontal {
  mask-image: linear-gradient(to right, transparent, black 1%, black 99%, transparent);
}
 
.thq-img-scale {
  transition: 0.3s;
}
 
.thq-img-scale:hover {
  scale: 1.05;
}
 
.thq-animated-card-bg-1 {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
  border-radius: var(--dl-layout-radius-cardradius);
  background-color: var(--dl-color-theme-accent1);
}
 
.thq-animated-card-bg-2 {
  transition: transform 0.3s;
  border-radius: var(--dl-layout-radius-cardradius);
  background-color: var(--dl-color-theme-accent2);
}
 
.thq-button-animated {
  outline: none;
  z-index: 1;
  overflow: hidden;
  position: relative;
  border-width: 2px;
}
 
.thq-input::placeholder {
  text-align: center;
  vertical-align: middle;
}
 
.thq-animated-group-container-vertical:hover div {
  animation-play-state: paused;
}
 
.thq-animated-group-container-horizontal:hover div {
  animation-play-state: paused;
}
 
.thq-animated-card-bg-2:has([data-animated="true"]:hover) {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(3deg) skew(0deg, 0deg);
}
 
.thq-animated-card-bg-1:has([data-animated="true"]:hover) {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-6deg) skew(0deg, 0deg);
}
 
.thq-button-animated:before {
  top: 0;
  left: -20%;
  color: var(--dl-color-theme-neutral-light);
  width: 200%;
  height: 101%;
  content: "";
  z-index: 1;
  position: absolute;
  transform: scaleX(0);
  transition: transform 0.5s;
  border-radius: var(--dl-layout-radius-buttonradius);
  background-color: var(--dl-color-theme-neutral-dark);
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
 
.thq-button-animated:hover::before {
  color: var(--dl-color-theme-neutral-light);
  z-index: -1;
  transform: scaleX(1);
}
 
.BodyBase {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
 
.BodyStrong {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0em;
}
 
.DMSans9px\:Regular {
  font-size: 9px;
  font-style: normal;
  font-family: DM Sans;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
 
.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
 
.DMSans28px\:Regular {
  font-size: 28px;
  font-style: normal;
  font-family: DM Sans;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
 
.DMSans38px\:Regular {
  font-size: 38px;
  font-style: normal;
  font-family: DM Sans;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
 
.CormorantGaramond16px\:Regular {
  font-size: 16px;
  font-style: normal;
  font-family: Cormorant Garamond;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
 
.DMSans12px\:Regular {
  font-size: 12px;
  font-style: normal;
  font-family: DM Sans;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
 
.CormorantGaramond38px\:Regular {
  font-size: 38px;
  font-style: normal;
  font-family: Cormorant Garamond;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
 
.SingleLineBodyBase {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
 
.CormorantGaramond21px\:Regular {
  font-size: 21px;
  font-style: normal;
  font-family: Cormorant Garamond;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
 
.CormorantGaramond28px\:Regular {
  font-size: 28px;
  font-style: normal;
  font-family: Cormorant Garamond;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
 
.CormorantGaramond12px\:Regular {
  font-size: 12px;
  font-style: normal;
  font-family: Cormorant Garamond;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
 
.CormorantGaramond51px\:Regular {
  font-size: 51px;
  font-style: normal;
  font-family: Cormorant Garamond;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
 
.DMSans16px\:Regular {
  font-size: 16px;
  font-style: normal;
  font-family: DM Sans;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
 
.DMSans51px\:Regular {
  font-size: 51px;
  font-style: normal;
  font-family: DM Sans;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
 
.CormorantGaramond9px\:Regular {
  font-size: 9px;
  font-style: normal;
  font-family: Cormorant Garamond;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
 
.DMSans21px\:Regular {
  font-size: 21px;
  font-style: normal;
  font-family: DM Sans;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
 
@media(max-width: 991px) {
  .thq-grid-4 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
 
@media(max-width: 767px) {
  .thq-section-padding {
    padding: var(--dl-layout-space-threeunits);
  }
  .thq-flex-column {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .thq-flex-row {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .thq-grid-6 {
    grid-gap: var(--dl-layout-space-oneandhalfunits);
    grid-template-columns: 1fr 1fr 1fr;
  }
  .thq-grid-5 {
    grid-gap: var(--dl-layout-space-oneandhalfunits);
    grid-template-columns: 1fr 1fr 1fr;
  }
  .thq-card {
    padding: var(--dl-layout-space-oneandhalfunits);
  }
  .thq-grid-3 {
    grid-gap: var(--dl-layout-space-oneandhalfunits);
    grid-template-columns: 1fr 1fr;
  }
  .thq-grid-4 {
    grid-gap: var(--dl-layout-space-oneandhalfunits);
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
  }
  .thq-grid-2 {
    grid-gap: var(--dl-layout-space-oneandhalfunits);
    grid-template-columns: 1fr;
  }
  .thq-img-scale {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .thq-section-padding {
    padding: var(--dl-layout-space-oneandhalfunits);
  }
  .thq-flex-column {
    gap: var(--dl-layout-space-unit);
  }
  .thq-flex-row {
    gap: var(--dl-layout-space-unit);
  }
  .thq-grid-6 {
    grid-gap: var(--dl-layout-space-unit);
    grid-template-columns: 1fr 1fr;
  }
  .thq-grid-5 {
    grid-gap: var(--dl-layout-space-unit);
    grid-template-columns: 1fr 1fr;
  }
  .thq-grid-3 {
    grid-gap: var(--dl-layout-space-unit);
    align-items: center;
    grid-template-columns: 1fr;
  }
  .thq-grid-4 {
    grid-gap: var(--dl-layout-space-unit);
    align-items: center;
    flex-direction: column;
    grid-template-columns: 1fr;
  }
  .thq-grid-2 {
    grid-gap: var(--dl-layout-space-unit);
  }
  .thq-grid-auto-300 {
    grid-template-columns: 1fr;
  }
}

.aboutus-container1 {
   width: 100%;
   display: flex;
   overflow: auto;
   min-height: 100vh;
   align-items: center;
   flex-direction: column;
}

.aboutus-thq-aboutus-elm {
   gap: 11px;
   width: 1440px;
   height: 5675px;
   display: flex;
   z-index: 1;
   overflow: hidden;
   position: relative;
   align-items: center;
   flex-shrink: 0;
   background-color: rgba(255, 255, 255, 1);
}

.aboutus-thq-header-elm {
   gap: 24px;
   top: 0px;
   left: 0px;
   width: 1440px;
   height: 103px;
   display: flex;
   padding: 32px 48px;
   overflow: hidden;
   position: absolute;
   flex-wrap: wrap;
   align-items: center;
   flex-shrink: 0;
   border-color: rgba(217, 217, 217, 1);
   border-style: solid;
   border-width: 0 0 1px;
   background-color: rgba(255, 255, 255, 1);
}

.aboutus-thq-block-elm {
   gap: 24px;
   display: flex;
   padding: 0 21px;
   align-items: center;
}

.aboutus-thq-figma-elm1 {
   width: 40px;
   display: flex;
   align-items: center;
   flex-shrink: 0;
   justify-content: center;
}

.aboutus-thq-logo-elm1 {
   width: 84px;
   height: 39px;
}

.aboutus-thq-navigation-pill-list-elm {
   gap: 8px;
   display: flex;
   flex-grow: 1;
   flex-wrap: wrap;
   align-items: flex-start;
   justify-content: center;
}

.aboutus-thq-navigation-pill-elm1 {
   gap: 8px;
   display: flex;
   padding: 8px;
   align-items: center;
   border-radius: 8px;
   justify-content: center;
}

.aboutus-thq-text-elm10 {
   color: rgba(30, 30, 30, 1);
   height: auto;
   text-align: left;
   line-height: 100%;
}

.aboutus-thq-navigation-pill-elm2 {
   gap: 8px;
   display: flex;
   padding: 8px;
   align-items: center;
   border-radius: 8px;
   justify-content: center;
   background-color: rgba(245, 245, 245, 1);
}

.aboutus-thq-text-elm11 {
   color: rgba(30, 30, 30, 1);
   height: auto;
   text-align: left;
   line-height: 100%;
}

.aboutus-thq-header-auth-elm {
   gap: 12px;
   width: 178px;
   display: flex;
   align-items: center;
   flex-shrink: 0;
}

.aboutus-thq-button-elm1 {
   gap: 8px;
   display: flex;
   padding: 8px;
   overflow: hidden;
   flex-grow: 1;
   align-items: center;
   border-color: rgba(118, 118, 118, 1);
   border-style: solid;
   border-width: 1px;
   border-radius: 8px;
   justify-content: center;
   background-color: rgba(227, 227, 227, 1);
}

.aboutus-thq-text-elm12 {
   color: rgba(30, 30, 30, 1);
   height: auto;
   text-align: left;
   line-height: 100%;
}

.aboutus-thq-button-elm2 {
   gap: 8px;
   display: flex;
   padding: 8px;
   overflow: hidden;
   flex-grow: 1;
   align-items: center;
   border-color: rgba(44, 44, 44, 1);
   border-style: solid;
   border-width: 1px;
   border-radius: 8px;
   justify-content: center;
   background-color: rgba(44, 44, 44, 1);
}

.aboutus-thq-text-elm13 {
   color: rgba(245, 245, 245, 1);
   height: auto;
   text-align: left;
   line-height: 100%;
}

.aboutus-thq-group2-elm {
   width: 93px;
   height: 37px;
   display: flex;
   position: relative;
   align-items: flex-start;
   flex-shrink: 1;
}

.aboutus-thq-button-elm3 {
   gap: 8px;
   top: 5px;
   left: 10px;
   width: 83px;
   display: flex;
   padding: 8px;
   overflow: hidden;
   position: absolute;
   align-items: center;
   flex-shrink: 0;
   border-color: rgba(118, 118, 118, 1);
   border-style: solid;
   border-width: 1px;
   border-radius: 8px;
   justify-content: center;
   background-color: rgba(227, 227, 227, 1);
}

.aboutus-thq-text-elm14 {
   color: rgba(30, 30, 30, 1);
   height: auto;
   text-align: right;
   line-height: 100%;
}

.aboutus-thq-ellipse1-elm {
   top: 0px;
   left: 0px;
   width: 16px;
   height: 16px;
   position: absolute;
}

.aboutus-thq-main-elm {
   top: 114px;
   left: 80px;
   width: 1280px;
   height: 5296px;
   display: flex;
   position: absolute;
   align-items: flex-start;
   flex-shrink: 0;
}

.aboutus-thq-section-brand-story-elm {
   top: 2718.090087890625px;
   left: 0px;
   width: 1280px;
   display: flex;
   padding: 128px 32px;
   position: absolute;
   align-items: flex-start;
   flex-shrink: 0;
   flex-direction: column;
   background-color: rgba(255, 255, 255, 1);
}

.aboutus-thq-container-elm10 {
   gap: 96px;
   display: flex;
   align-self: stretch;
   align-items: center;
   flex-shrink: 0;
   justify-content: center;
}

.aboutus-thq-text-content-elm {
   gap: 32px;
   width: 560px;
   display: flex;
   flex-grow: 1;
   align-items: flex-start;
   flex-shrink: 0;
   flex-direction: column;
}

.aboutus-thq-heading2-elm1 {
   display: flex;
   align-self: stretch;
   align-items: flex-start;
   flex-direction: column;
}

.aboutus-thq-text-elm15 {
   color: rgba(26, 26, 26, 1);
   height: auto;
   font-size: 48px;
   align-self: stretch;
   font-style: italic;
   text-align: left;
   font-family: Playfair Display;
   font-weight: 400;
   line-height: 48px;
   font-stretch: normal;
   text-decoration: none;
}

.aboutus-thq-container-elm11 {
   gap: 24px;
   display: flex;
   align-self: stretch;
   align-items: flex-start;
   flex-direction: column;
}

.aboutus-thq-container-elm12 {
   display: flex;
   align-self: stretch;
   align-items: flex-start;
   flex-direction: column;
}

.aboutus-thq-text-elm16 {
   color: rgba(55, 65, 81, 1);
   height: auto;
   font-size: 18px;
   align-self: stretch;
   font-style: Regular;
   text-align: left;
   font-family: Inter;
   font-weight: 400;
   line-height: 29.25px;
   font-stretch: normal;
   text-decoration: none;
}

.aboutus-thq-container-elm13 {
   display: flex;
   align-self: stretch;
   align-items: flex-start;
   flex-direction: column;
}

.aboutus-thq-text-elm20 {
   color: rgba(55, 65, 81, 1);
   height: auto;
   font-size: 18px;
   align-self: stretch;
   font-style: Regular;
   text-align: left;
   font-family: Inter;
   font-weight: 400;
   line-height: 29.25px;
   font-stretch: normal;
   text-decoration: none;
}

.aboutus-thq-container-elm14 {
   display: flex;
   align-self: stretch;
   align-items: flex-start;
   flex-direction: column;
}

.aboutus-thq-text-elm25 {
   color: rgba(55, 65, 81, 1);
   height: auto;
   font-size: 18px;
   align-self: stretch;
   font-style: Regular;
   text-align: left;
   font-family: Inter;
   font-weight: 400;
   line-height: 29.25px;
   font-stretch: normal;
   text-decoration: none;
}

.aboutus-thq-image-content-elm {
   width: 560px;
   display: flex;
   overflow: hidden;
   flex-grow: 1;
   align-items: flex-start;
   flex-shrink: 0;
   flex-direction: column;
   justify-content: center;
   background-color: rgba(244, 241, 234, 1);
}

.aboutus-thq-folkeminimalistclothing-elm {
   width: 560px;
   height: 700px;
   display: flex;
   overflow: hidden;
   position: relative;
   align-self: stretch;
   align-items: flex-start;
   background-size: cover;
   background-image: url("../img/tq_0dtupsiihk-3xcc-600w.png");
}

.aboutus-thq-section-our-values-elm {
   top: 3674.090087890625px;
   left: 0px;
   width: 1280px;
   display: flex;
   padding: 128px 0;
   position: absolute;
   align-items: flex-start;
   flex-shrink: 0;
   flex-direction: column;
   background-color: rgba(244, 241, 234, 1);
}

.aboutus-thq-container-elm15 {
   gap: 64px;
   display: flex;
   padding: 0 32px;
   align-self: stretch;
   align-items: flex-start;
   flex-direction: column;
}

.aboutus-thq-container-elm16 {
   gap: 16px;
   display: flex;
   align-self: stretch;
   align-items: center;
   flex-direction: column;
}

.aboutus-thq-heading2-elm2 {
   display: flex;
   align-self: stretch;
   align-items: center;
   flex-direction: column;
}

.aboutus-thq-text-elm29 {
   color: rgba(26, 26, 26, 1);
   width: 251px;
   height: auto;
   font-size: 36px;
   font-style: italic;
   text-align: center;
   font-family: Playfair Display;
   font-weight: 400;
   line-height: 40px;
   font-stretch: normal;
   text-decoration: none;
}

.aboutus-thq-horizontal-divider-elm {
   width: 96px;
   height: 1px;
}

.aboutus-thq-container-elm17 {
   gap: 32px;
   display: flex;
   align-self: stretch;
   align-items: flex-start;
   flex-shrink: 0;
   justify-content: center;
}

.aboutus-thq-simplicity-elm {
   width: 384px;
   height: 272px;
   display: flex;
   position: relative;
   flex-grow: 1;
   align-self: stretch;
   box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806);
   align-items: flex-start;
   background-color: rgba(255, 255, 255, 1);
}

.aboutus-thq-container-elm18 {
   top: 40px;
   left: 40px;
   width: 304px;
   display: flex;
   position: absolute;
   align-items: flex-start;
   flex-shrink: 0;
   justify-content: center;
}

.aboutus-thq-border-elm1 {
   width: 48px;
   height: 48px;
   display: flex;
   align-items: center;
   flex-shrink: 0;
   border-color: rgba(77, 42, 8, 1);
   border-style: solid;
   border-width: 1px;
   justify-content: center;
}

.aboutus-thq-container-elm19 {
   display: flex;
   align-items: center;
   flex-direction: column;
}

.aboutus-thq-heading3-elm1 {
   top: 112px;
   left: 40px;
   width: 304px;
   display: flex;
   position: absolute;
   align-items: center;
   flex-shrink: 0;
   flex-direction: column;
}

.aboutus-thq-text-elm30 {
   color: rgba(26, 26, 26, 1);
   width: 104px;
   height: auto;
   font-size: 24px;
   font-style: italic;
   text-align: center;
   font-family: Playfair Display;
   font-weight: 400;
   line-height: 32px;
   font-stretch: normal;
   text-decoration: none;
}

.aboutus-thq-container-elm20 {
   top: 160px;
   left: 40px;
   width: 304px;
   display: flex;
   position: absolute;
   align-items: center;
   flex-shrink: 0;
   flex-direction: column;
}

.aboutus-thq-text-elm31 {
   color: rgba(75, 85, 99, 1);
   width: 281px;
   height: auto;
   font-size: 16px;
   font-style: Regular;
   text-align: center;
   font-family: Inter;
   font-weight: 400;
   line-height: 24px;
   font-stretch: normal;
   text-decoration: none;
}

.aboutus-thq-quality-elm {
   width: 384px;
   height: 272px;
   display: flex;
   position: relative;
   flex-grow: 1;
   align-self: stretch;
   box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806);
   align-items: flex-start;
   background-color: rgba(255, 255, 255, 1);
}

.aboutus-thq-container-elm21 {
   top: 40px;
   left: 40px;
   width: 304px;
   display: flex;
   position: absolute;
   align-items: flex-start;
   flex-shrink: 0;
   justify-content: center;
}

.aboutus-thq-border-elm2 {
   width: 48px;
   height: 48px;
   display: flex;
   align-items: center;
   flex-shrink: 0;
   border-color: rgba(77, 42, 8, 1);
   border-style: solid;
   border-width: 1px;
   justify-content: center;
}

.aboutus-thq-container-elm22 {
   display: flex;
   align-items: center;
   flex-direction: column;
}

.aboutus-thq-heading3-elm2 {
   top: 112px;
   left: 40px;
   width: 304px;
   display: flex;
   position: absolute;
   align-items: center;
   flex-shrink: 0;
   flex-direction: column;
}

.aboutus-thq-text-elm35 {
   color: rgba(26, 26, 26, 1);
   width: 78px;
   height: auto;
   font-size: 24px;
   font-style: italic;
   text-align: center;
   font-family: Playfair Display;
   font-weight: 400;
   line-height: 32px;
   font-stretch: normal;
   text-decoration: none;
}

.aboutus-thq-container-elm23 {
   top: 160px;
   left: 40px;
   width: 304px;
   display: flex;
   position: absolute;
   align-items: center;
   flex-shrink: 0;
   flex-direction: column;
}

.aboutus-thq-text-elm36 {
   color: rgba(75, 85, 99, 1);
   width: 270px;
   height: auto;
   font-size: 16px;
   font-style: Regular;
   text-align: center;
   font-family: Inter;
   font-weight: 400;
   line-height: 24px;
   font-stretch: normal;
   text-decoration: none;
}

.aboutus-thq-inclusivity-elm {
   width: 384px;
   height: 272px;
   display: flex;
   position: relative;
   flex-grow: 1;
   align-self: stretch;
   box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806);
   align-items: flex-start;
   background-color: rgba(255, 255, 255, 1);
}

.aboutus-thq-container-elm24 {
   top: 40px;
   left: 40px;
   width: 304px;
   display: flex;
   position: absolute;
   align-items: flex-start;
   flex-shrink: 0;
   justify-content: center;
}

.aboutus-thq-border-elm3 {
   width: 48px;
   height: 48px;
   display: flex;
   align-items: center;
   flex-shrink: 0;
   border-color: rgba(77, 42, 8, 1);
   border-style: solid;
   border-width: 1px;
   justify-content: center;
}

.aboutus-thq-container-elm25 {
   display: flex;
   align-items: center;
   flex-direction: column;
}

.aboutus-thq-heading3-elm3 {
   top: 112px;
   left: 40px;
   width: 304px;
   display: flex;
   position: absolute;
   align-items: center;
   flex-shrink: 0;
   flex-direction: column;
}

.aboutus-thq-text-elm40 {
   color: rgba(26, 26, 26, 1);
   width: 109px;
   height: auto;
   font-size: 24px;
   font-style: italic;
   text-align: center;
   font-family: Playfair Display;
   font-weight: 400;
   line-height: 32px;
   font-stretch: normal;
   text-decoration: none;
}

.aboutus-thq-container-elm26 {
   top: 160px;
   left: 40px;
   width: 304px;
   display: flex;
   position: absolute;
   align-items: center;
   flex-shrink: 0;
   flex-direction: column;
}

.aboutus-thq-text-elm41 {
   color: rgba(75, 85, 99, 1);
   width: 270px;
   height: auto;
   font-size: 16px;
   font-style: Regular;
   text-align: center;
   font-family: Inter;
   font-weight: 400;
   line-height: 24px;
   font-stretch: normal;
   text-decoration: none;
}

.aboutus-thq-section-sustainability-elm {
   top: 4323.08984375px;
   left: 0px;
   width: 1280px;
   display: flex;
   padding: 128px;
   position: absolute;
   align-items: flex-start;
   flex-shrink: 0;
   flex-direction: column;
   background-color: rgba(77, 42, 8, 1);
}

.aboutus-thq-container-elm27 {
   gap: 48px;
   display: flex;
   padding: 0 32px;
   align-self: stretch;
   align-items: flex-start;
   flex-direction: column;
}

.aboutus-thq-heading2-elm3 {
   display: flex;
   align-self: stretch;
   align-items: center;
   flex-direction: column;
}

.aboutus-thq-text-elm45 {
   color: rgba(244, 241, 234, 1);
   width: 396px;
   height: auto;
   font-size: 48px;
   font-style: italic;
   text-align: center;
   font-family: Playfair Display;
   font-weight: 400;
   line-height: 48px;
   font-stretch: normal;
   text-decoration: none;
}

.aboutus-thq-container-elm28 {
   gap: 48px;
   display: flex;
   align-self: stretch;
   align-items: flex-start;
   flex-shrink: 0;
   justify-content: center;
}

.aboutus-thq-vertical-border-elm1 {
   gap: 16px;
   display: flex;
   padding: 0 0 0 32px;
   flex-grow: 1;
   align-self: stretch;
   align-items: flex-start;
   border-color: rgba(230, 222, 203, 0.30000001192092896);
   border-style: solid;
   border-width: 0 0 0 1px;
   flex-direction: column;
}

.aboutus-thq-heading4-elm1 {
   display: flex;
   align-self: stretch;
   align-items: flex-start;
   flex-direction: column;
}

.aboutus-thq-text-elm46 {
   color: rgba(244, 241, 234, 1);
   height: auto;
   font-size: 20px;
   align-self: stretch;
   font-style: Medium;
   text-align: left;
   font-family: Inter;
   font-weight: 500;
   line-height: 28px;
   font-stretch: normal;
   text-decoration: none;
}

.aboutus-thq-container-elm29 {
   display: flex;
   opacity: 0.80;
   align-self: stretch;
   align-items: flex-start;
   flex-direction: column;
}

.aboutus-thq-text-elm47 {
   color: rgba(244, 241, 234, 1);
   height: auto;
   font-size: 16px;
   align-self: stretch;
   font-style: Regular;
   text-align: left;
   font-family: Inter;
   font-weight: 400;
   line-height: 26px;
   font-stretch: normal;
   text-decoration: none;
}

.aboutus-thq-vertical-border-elm2 {
   gap: 16px;
   display: flex;
   padding: 0 0 0 32px;
   flex-grow: 1;
   align-self: stretch;
   align-items: flex-start;
   border-color: rgba(230, 222, 203, 0.30000001192092896);
   border-style: solid;
   border-width: 0 0 0 1px;
   flex-direction: column;
}

.aboutus-thq-heading4-elm2 {
   display: flex;
   align-self: stretch;
   align-items: flex-start;
   flex-direction: column;
}

.aboutus-thq-text-elm51 {
   color: rgba(244, 241, 234, 1);
   height: auto;
   font-size: 20px;
   align-self: stretch;
   font-style: Medium;
   text-align: left;
   font-family: Inter;
   font-weight: 500;
   line-height: 28px;
   font-stretch: normal;
   text-decoration: none;
}

.aboutus-thq-container-elm30 {
   display: flex;
   opacity: 0.80;
   align-self: stretch;
   align-items: flex-start;
   flex-direction: column;
}

.aboutus-thq-text-elm52 {
   color: rgba(244, 241, 234, 1);
   height: auto;
   font-size: 16px;
   align-self: stretch;
   font-style: Regular;
   text-align: left;
   font-family: Inter;
   font-weight: 400;
   line-height: 26px;
   font-stretch: normal;
   text-decoration: none;
}

.aboutus-thq-cta-section-elm {
   top: 4797.08984375px;
   left: 0px;
   width: 1280px;
   display: flex;
   padding: 128px 192px;
   position: absolute;
   align-items: flex-start;
   flex-shrink: 0;
   flex-direction: column;
   background-color: rgba(230, 222, 203, 1);
}

.aboutus-thq-container-elm31 {
   gap: 32px;
   display: flex;
   padding: 0 16px;
   align-self: stretch;
   align-items: center;
   flex-direction: column;
}

.aboutus-thq-heading2-elm4 {
   display: flex;
   align-self: stretch;
   align-items: center;
   flex-direction: column;
}

.aboutus-thq-text-elm56 {
   color: rgba(77, 42, 8, 1);
   width: 369px;
   height: auto;
   font-size: 48px;
   font-style: italic;
   text-align: center;
   font-family: Playfair Display;
   font-weight: 400;
   line-height: 48px;
   font-stretch: normal;
   text-decoration: none;
}

.aboutus-thq-container-elm32 {
   width: 576px;
   display: flex;
   opacity: 0.90;
   padding: 0 0 8px;
   align-items: center;
   flex-shrink: 0;
   flex-direction: column;
}

.aboutus-thq-text-elm57 {
   color: rgba(77, 42, 8, 1);
   width: 559px;
   height: auto;
   font-size: 20px;
   font-style: Regular;
   text-align: center;
   font-family: Inter;
   font-weight: 400;
   line-height: 28px;
   font-stretch: normal;
   text-decoration: none;
}

.aboutus-thq-link-elm {
   display: flex;
   padding: 16px 48px;
   align-items: flex-start;
   justify-content: center;
   background-color: rgba(77, 42, 8, 1);
}

.aboutus-thq-text-elm60 {
   color: rgba(255, 255, 255, 1);
   width: 168px;
   height: auto;
   font-size: 18px;
   font-style: Medium;
   text-align: center;
   font-family: Inter;
   font-weight: 500;
   line-height: 28px;
   font-stretch: normal;
   text-decoration: none;
}

.aboutus-thq-section-hero-about-elm {
   top: 0px;
   left: 0px;
   width: 1280px;
   height: 2718.090087890625px;
   display: flex;
   overflow: hidden;
   position: relative;
   align-items: center;
   flex-shrink: 0;
   justify-content: center;
}

.aboutus-thq-behindthescenesstudio-elm {
   width: 1280px;
   height: 2718.090087890625px;
   display: flex;
   overflow: hidden;
   position: absolute;
   align-items: flex-start;
   background-size: cover;
   background-image: url("../img/tq_93i-tsanzm-abj-1300w.png");
}

.aboutus-thq-overlay-elm {
   top: 0px;
   left: 0px;
   width: 1280px;
   height: 2718px;
   z-index: 1;
   position: absolute;
}

.aboutus-thq-container-elm33 {
   gap: 24px;
   display: flex;
   padding: 0 16px;
   z-index: 2;
   align-items: flex-start;
   flex-direction: column;
}

.aboutus-thq-heading1-elm {
   display: flex;
   align-self: stretch;
   align-items: center;
   flex-direction: column;
}

.aboutus-thq-text-elm61 {
   color: rgba(255, 255, 255, 1);
   width: 439px;
   height: auto;
   font-size: 80px;
   font-style: italic;
   text-align: center;
   font-family: Playfair Display;
   font-weight: 400;
   line-height: 88px;
   font-stretch: normal;
   text-decoration: none;
}

.aboutus-thq-container-elm34 {
   display: flex;
   align-self: stretch;
   align-items: center;
   flex-direction: column;
}

.aboutus-thq-text-elm62 {
   color: rgba(255, 255, 255, 1);
   width: 657px;
   height: auto;
   font-size: 20px;
   font-style: Light;
   text-align: center;
   font-family: Inter;
   font-weight: 300;
   line-height: 28px;
   font-stretch: normal;
   text-decoration: none;
}

.aboutus-thq-footer-elm {
   gap: 36px;
   top: 5421px;
   left: 24px;
   width: 1392px;
   height: 254px;
   display: flex;
   padding: 40px 40px 160px;
   overflow: hidden;
   position: absolute;
   flex-wrap: wrap;
   align-items: flex-start;
   flex-shrink: 0;
   border-color: rgba(217, 217, 217, 1);
   border-style: solid;
   border-width: 1px 0 0;
   background-color: rgba(255, 255, 255, 1);
}

.aboutus-thq-group1-elm {
   width: 1359px;
   height: 276px;
   display: flex;
   position: relative;
   align-items: flex-start;
   flex-shrink: 1;
}

.aboutus-thq-title-elm1 {
   gap: 24px;
   top: 0px;
   left: 0px;
   width: 269.33282470703125px;
   display: flex;
   position: absolute;
   align-items: flex-start;
   flex-shrink: 0;
   flex-direction: column;
}

.aboutus-thq-figma-elm2 {
   display: flex;
   align-items: center;
   justify-content: center;
}

.aboutus-thq-logo-elm2 {
   width: 208px;
   height: 97px;
}

.aboutus-thq-button-list-elm {
   gap: 16px;
   display: flex;
   align-items: center;
}

.aboutus-thq-x-logo-elm {
   width: 24px;
   height: 24px;
}

.aboutus-thq-logo-instagram-elm {
   width: 24px;
   height: 24px;
}

.aboutus-thq-text-link-list-elm {
   gap: 12px;
   top: 0px;
   left: 1220.2216796875px;
   width: 138.7783660888672px;
   display: flex;
   position: absolute;
   align-items: flex-start;
   flex-shrink: 0;
   flex-direction: column;
}

.aboutus-thq-title-elm2 {
   gap: 10px;
   display: flex;
   padding: 0 0 16px;
   align-self: stretch;
   align-items: flex-start;
   flex-direction: column;
}

.aboutus-thq-text-strong-elm {
   display: flex;
   align-self: stretch;
   align-items: flex-start;
   flex-shrink: 0;
}

.aboutus-thq-text-elm65 {
   color: rgba(30, 30, 30, 1);
   height: auto;
   text-align: left;
   line-height: 139.9999976158142%;
}

.aboutus-thq-text-link-list-item-elm1 {
   display: flex;
   align-items: center;
   justify-content: center;
}

.aboutus-thq-text-elm66 {
   color: rgba(30, 30, 30, 1);
   height: auto;
   text-align: left;
   line-height: 139.9999976158142%;
}

.aboutus-thq-text-link-list-item-elm2 {
   display: flex;
   align-items: center;
   justify-content: center;
}

.aboutus-thq-text-elm67 {
   color: rgba(30, 30, 30, 1);
   height: auto;
   text-align: left;
   line-height: 139.9999976158142%;
}

.aboutus-thq-text-link-list-item-elm3 {
   display: flex;
   align-items: center;
   justify-content: center;
}

.aboutus-thq-text-elm68 {
   color: rgba(30, 30, 30, 1);
   height: auto;
   text-align: left;
   line-height: 139.9999976158142%;
}

.aboutus-thq-text-link-list-item-elm4 {
   display: flex;
   align-items: center;
   justify-content: center;
}

.aboutus-thq-text-elm69 {
   color: rgba(30, 30, 30, 1);
   height: auto;
   text-align: left;
   line-height: 139.9999976158142%;
}

.aboutus-thq-text-link-list-item-elm5 {
   display: flex;
   align-items: center;
   justify-content: center;
}

.aboutus-thq-text-elm70 {
   color: rgba(30, 30, 30, 1);
   height: auto;
   text-align: left;
   line-height: 139.9999976158142%;
}

.aboutus-thq-text-link-list-item-elm6 {
   display: flex;
   align-items: center;
   justify-content: center;
}

.aboutus-thq-text-elm71 {
   color: rgba(30, 30, 30, 1);
   height: auto;
   text-align: left;
   line-height: 139.9999976158142%;
}

.aboutus-thq-text-link-list-item-elm7 {
   display: flex;
   align-items: center;
   justify-content: center;
}

.aboutus-thq-text-elm72 {
   color: rgba(30, 30, 30, 1);
   height: auto;
   text-align: left;
   line-height: 139.9999976158142%;
}

.aboutus-link {
   display: contents;
}

.aboutus-container2 {
   right: 50px;
   border: 1px solid #ffffff5c;
   bottom: 30px;
   display: flex;
   z-index: 22;
   position: fixed;
   box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
   min-height: auto;
   align-items: center;
   padding-top: 8px;
   padding-left: 12px;
   border-radius: 8px;
   padding-right: 12px;
   padding-bottom: 8px;
   backdrop-filter: blur(6px);
   background-color: rgba(41, 41, 41, 0.41);
}

.aboutus-icon1 {
   width: 24px;
   margin-right: 4px;
}

.aboutus-text29 {
   color: white;
   font-size: 13px;
   font-style: normal;
   font-weight: 500;
   line-height: 24px;
}